.header {
    box-sizing: border-box;
    height: 150px;
    width: 800px;
    margin: 15px 0 15px 50px;
    position: relative;
    background-color: antiquewhite;
    border-radius: 15px;
    box-shadow: 4px 4px grey, -4px -4px gray;
    font-family: Arial, Helvetica, sans-serif;

}

.logo {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 80px;
    width: 300px;

}

.logo img {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 2.5px 2.5px grey, -2.5px -2.5px gray;


}

.search {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 25px;
    width: 200px;
}

.search input {
    width: 190px;
    border-radius: 6px;
    border: none;
}

.menu {
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 50px;
    width: 350px;
}

.menu a {
    margin-left: 10px;
    font-style: oblique;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);
}

.container {
    box-sizing: border-box;
    margin: 0 0 15px 50px;
    width: 800px;
    height: 590px;
    position: relative;
    background-color: bisque;
    border-radius: 15px;
    box-shadow: 4px 4px grey, -4px -4px gray;
}

.container div {
    position: absolute;
    height: 590px;
    width: 170px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: xx-large;
    color: rgba(231, 54, 54, 0.945);

}

.column_1 {
    background-image: url(/image/earth.jpg);
}

.column_2 {
    left: 210px;
    background-image: url(/image/air.jpg);

}

.column_3 {
    right: 210px;
    background-image: url(/image/fire.jpg);
}

.column_4 {
    right: 0;
    background-image: url(/image/water.jpg);
}