.container {
    box-sizing: border-box;
    width: 900px;
}

.title {
    text-align: center;
    width: auto;
}

.main {
    display: flex;
    margin: 15px 0 0 20px;
    border: 2px tomato;
    background: grey;
    height: 900px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;

}

.block {
    margin: 10px;
    height: 200px;
    width: 270px;
    background: lightseagreen;
    text-align: center;
}

.first:hover {
    background: violet;
}

.second:hover {
    background: tomato;
}