html,
body {
    height: 100%;
}

.wrapper {
    height: 100%;
    display: grid;
    background-color: rgb(54, 53, 53);
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}

.container {
    display: grid;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    font-weight: 900;
    font-style: oblique;
    font-size: x-large;
    color: aliceblue;
}

.first {
    grid-area: 1 / 1 / 2 / 2;
    background-color: tomato;
}

.second {
    grid-area: 1 / 2 / 2 / 3;
    background-color: orange;
}

.third {
    grid-area: 1 / 3 / 2 / 4;
    background-color: goldenrod;
}

.fourth {
    grid-area: 2 / 1 / 3 / 2;
    background-color: rgb(57, 231, 173);
}

.fifth {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(12, 192, 42);
}

.sixth {
    grid-area: 2 / 3 / 3 / 4;
    background-color: rgb(18, 100, 73);
}